
SUPABASE_PROJECT_ID="ihutxdqkfcagefvjafnq"
SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlodXR4ZHFrZmNhZ2VmdmphZm5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1MzUzMzYsImV4cCI6MjA5NzExMTMzNn0.DgHuHC3sR_8qNSDqXUkq_PnGhp43jGqiUPdVDvTFzDs"
SUPABASE_URL="https://ihutxdqkfcagefvjafnq.supabase.co"
VITE_SUPABASE_PROJECT_ID="ihutxdqkfcagefvjafnq"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlodXR4ZHFrZmNhZ2VmdmphZm5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1MzUzMzYsImV4cCI6MjA5NzExMTMzNn0.DgHuHC3sR_8qNSDqXUkq_PnGhp43jGqiUPdVDvTFzDs"
VITE_SUPABASE_URL="https://ihutxdqkfcagefvjafnq.supabase.co"
PORT=5000

MONGO_URI="mongodb+srv://saikeerthana:sai1112@cluster0.owhhitb.mongodb.net/?appName=Cluster0"
JWT_SECRET="BugReplier@2026Secret"